html
{
    border: darkcyan thin solid;
    border-collapse: collapse;
}

#div1
{
    padding-top: 20px;
    background-color: darkcyan;
    color: white;
    height: 40px;
    text-align: center;
    word-spacing: 10px;
}

#div2
{
    background-color: darkslategrey;
    color: white;
    padding-top: 20px;
    padding-left: 15px;
    height: 200px;
}

#div3
{
    padding-top: 100px;
    display: flex;
    gap: 20px;
}

#div4 {
    position: absolute;
    padding-top: 50px;
    padding-left: 350px;
}

h1
{
    margin-top: 0;
}

h2
{
    color: darkcyan;
}

p
{
    display: inline;
}

img
{
    padding-left: 20px;
    width: 300px;
    height: 350px;
}

a
{
    padding-left: 1350px;
    color: darkcyan;
}