body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* TON MENU SIMPLE */
.menu {
    background-color: cadetblue;
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

/* BANNIÈRE SIMPLE */
.banniere {
    background-image: url("../Images/background-accueil.png");
    background-size: contain;     /* image non coupée */
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    text-align: center;
    padding-top: 80px;
    color: white;
}

.banniere h1 {
    margin: 0;
    font-size: 40px;
}

.banniere h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
}

/* SECTION SIMPLE */
.section {
    padding: 40px;
    text-align: center;
    background-color: white;
}

.section h3 {
    font-size: 28px;
}

.section p {
    color: #444;
    font-size: 18px;
}
