#div1
{
    padding-top: 20px;
    background-color: darkcyan;
    color: white;
    height: 40px;
    text-align: center;
    word-spacing: 10px;
}

#div2
{
    background-color: darkslategrey;
    padding-top: 80px;
    display: flex;
    gap: 20px;
}

#div3
{
    position: absolute;
    padding-top: 150px;
    color: white;
}


p
{
    display: inline;
}

#img
{
    padding-left: 1070px;
    width: 400px;
    height: 500px;
}

h1
{
    padding-left: 20px;
    color: white;
}

a
{
    padding-left: 900px;
    color: darkcyan;
}

form
{
    padding-left: 30px;
    border-radius: 10px;
    max-width: 500px;
}

input, textarea
{
    width: 100%;
    border-radius: 6px;
    border: none;
    margin-bottom: 15px;
    padding: 10px;
}
button
{
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
}