body {
    margin: 0;
    font-family: Arial, sans-serif;
}

div{
    background-color: cadetblue;
    padding: 10px;
}

div a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

h1 {
    text-align: center;
    margin-top: 60px;
}

h2 {
    text-align: center;
    font-weight: normal;
    color: #555555;
}
